{
  "semi": true,
  "printWidth": 80,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "singleAttributePerLine": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "bracketSpacing": true
}
